s3data/
.ipynb_checkpoints/
metastore_db/
Elspotprices*
*.parquet
.vscode
.DS_Store
notebooks/testdata/*
/.idea/
/.vscode/
notebooks/iceberg-warehouse/
notebooks/spark-warehouse/
notebooks/.ipynb_checkpoints!
wip/
old/

